<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WIKI</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <listener>
    <listener-class>wiki.InitApp</listener-class>   
  </listener>
 
   <listener>
    <listener-class>wiki.Test</listener-class>   
  </listener> 
    
  <filter>
  		<description>Filtro para vistas y servlets de GESTOR</description>
  		<filter-name>OnlyGestorFilter</filter-name>
  		<filter-class>
  			wiki.filters.OnlyGestorFilter
  		</filter-class>
  </filter>
  
  <filter-mapping>
  		<filter-name>OnlyGestorFilter</filter-name>
  		<servlet-name>UserManagementController</servlet-name>
  		<servlet-name>WikisManagementController</servlet-name>
  		<servlet-name>SolicitudesManagementController</servlet-name>
  		<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <filter>
  		<description>Filtro para vistas y servlets de Coordinador</description>
  		<filter-name>OnlyCoordinadorFilter</filter-name>
  		<filter-class>
  			wiki.filters.OnlyCoordinadorFilter
  		</filter-class>
  </filter>
  
  <filter-mapping>
  		<filter-name>OnlyCoordinadorFilter</filter-name>
  		<servlet-name>ArticulosManagementController</servlet-name>  
  		<servlet-name>EditarArticulo</servlet-name>   			
  		<servlet-name>SolicitudesCoordinadorManagementController</servlet-name>
  		<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  
  <filter>
  		<description>Filtro para usuarios logueados</description>
  		<filter-name>LoggedInFilter</filter-name>
  		<filter-class>
  			wiki.filters.LoggedInFilter
  		</filter-class>
  </filter>
  
  <filter-mapping>
  		<filter-name>LoggedInFilter</filter-name>
  		<servlet-name>MisRolesController</servlet-name> 
  		<servlet-name>PropuestaHTMLController</servlet-name>  
  		<servlet-name>PropuestasController</servlet-name> 
  		<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <filter>
  		<description>Filtro para Supervisores</description>
  		<filter-name>OnlySupervisorFilter</filter-name>
  		<filter-class>
  			wiki.filters.OnlySupervisorFilter
  		</filter-class>
  </filter>
  
    <filter-mapping>
  		<filter-name>OnlySupervisorFilter</filter-name>  		
  		<servlet-name>SupervisionesManagementController</servlet-name> 
  		<servlet-name>SupervisionManagementController</servlet-name>
  		<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <error-page>
  		<error-code>401</error-code>
  		<location>/WEB-INF/vistas/errors/401.jsp</location>
  </error-page>
  
  <servlet-mapping>
   <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.htc</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.rar</url-pattern>
    <url-pattern>*.zip</url-pattern>
    <url-pattern>*.pdf</url-pattern>
</servlet-mapping>


  

</web-app>  
